.pnavbar {
    padding: 5px;
    justify-content: center;
}

.h3navbar {
    justify-content: center;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 20px;
}

nav {
    height: 50px;
}
