<div class="container ">
    <div class="row">
        <div class="col-sm-12 padre">
            <div class="col-sm-10">
                <h3 class="header1">
                    <i class="fa fa-search header" aria-hidden="true"></i>Buscar empleado
                </h3>
            </div>
            <div class="col-sm-2 margen">
                <button type="button" class="btn btn-primary" (click)="showDialog()" icon="pi pi-info-circle" label="Show">
                    <i class="fa fa-plus-square espacio " aria-hidden="true"></i>Nuevo empleado
                </button>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-2 labelclas">
            <label for="usuario" class="form-label">Buscar usuario:</label>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" id="usuario" placeholder="Nombre de usuario" required>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" type="button">
                <i class="fa fa-search header" aria-hidden="true"></i>Buscar
            </button>
        </div>
    </div>
    <div class="row rowdos">
        <div class="col-sm-12">
            <table class="table table-ligth table-hover">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Contraseña</th>
                        <th scope="col">Empresa Id</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of empleados">
                        <td scope="row"> {{ item.id }} </td>
                        <td> {{ item.nombre | capitalizado:false }} </td>
                        <td> {{ item.apellido | capitalizado:false }} </td>
                        <td> {{ item.direccion | capitalizado:false }} </td>
                        <td> {{ item.telefono }} </td>
                        <td> {{ item.usuario }} </td>
                        <td> <i class="fas fa-eye clascontraseña"></i> {{ item.contrasena | contrasena:activar }}
                        </td>
                        <td> {{ item.empresaId }} </td>
                        <td>
                            <i (click)="openEditEmpleado(item)" class="fas fa-edit btn btn-outline-primary iconusuario"></i>
                            <i (click)="deleteEmpleado(item)" class="fas fa-trash-alt btn btn-outline-danger iconusuario"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <p-dialog [(visible)]="displayModal" [style]="{width: '50vw'}">
        <p-header>
            <div class="btn btn-info text-center">
                <h5 class="modal-title header1" id="">
                    <i class="fa fa-plus-square espacio " aria-hidden="true"></i>Agregar nuevo empleado
                </h5>
            </div>
        </p-header>
        <form #f="ngForm">
            <div class="form-group row">

                <div class="row">
                    <div class="col-md-3">
                        <label for="nombre" class="form-label claselabel">Nombre:</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="empleado.nombre" #nombre="ngModel" placeholder="Ingresar nombre" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label for="apellido" class="form-label claselabel">Apellido:</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="empleado.apellido" #apellido="ngModel" placeholder="Ingresar apellido" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label for="direccion" class="form-label claselabel">Direccion:</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="direccion" name="direccion" [(ngModel)]="empleado.direccion" #direccion="ngModel" placeholder="Ingresar direccion" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label for="telefono" class="form-label claselabel">Telefono:</label>
                    </div>
                    <div class="col-md-9">
                        <input type="number" class="form-control" id="telefono" name="telefono" [(ngModel)]="empleado.telefono" #telefono="ngModel" placeholder="Ingresar telefono" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label for="usuario" class="form-label claselabel">Usuario:</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="usuario" name="usuario" [(ngModel)]="empleado.usuario" #usuario="ngModel" placeholder="Ingresar usuario" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label for="contrasena" class="form-label claselabel">Contraseña:</label>
                    </div>
                    <div class="col-md-9">
                        <input type="password" class="form-control" id="contrasena" name="contrasena" [(ngModel)]="empleado.contrasena" #contrasena="ngModel" placeholder="Ingresar contraseña" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label for="empresaId" class="form-label claselabel">Empresa Id:</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="empresaId" name="empresaId" [(ngModel)]="empleado.empresaId" #empresaId="ngModel" placeholder="Ingresar empresaId" required>
                    </div>
                </div>

            </div>
            <div class="footer">
                <button type="reset" class="btn btn-success boton">Nuevo empleado</button>
                <button type="submit" name="submit1" class="btn btn-info boton" (click)="saveEmpleado(f)">Guardar</button>
                <button type="button" name="submit2" class="btn btn-danger boton" (click)="limpiarDialog()">volver</button>
            </div>
        </form>
    </p-dialog>
    <p-dialog [(visible)]="displayEmpleado" [style]="{width: '40vw'}">
        <p-header>
            <h3><i class="fas fa-edit espacio"></i>EDITAR DATOS DEl EMPLEADO</h3>
        </p-header>
        <div class="form-group row">
            <div class="row espaciado">
                <div class="col-md-3">
                    <label for="nombre" class="form-label claslabel">Nombre:</label>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="empleadoDialog.nombre" #nombre="ngModel" placeholder="Nombre del cliente" required>
                </div>
            </div>

            <div class="row espaciado">
                <div class="col-md-3">
                    <label for="apellido" class="form-label claslabel">Apellido:</label>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="empleadoDialog.apellido" #apellido="ngModel" placeholder="Ingresar Nit" required>
                </div>
            </div>

            <div class="row espaciado">
                <div class="col-md-3">
                    <label for="direccion" class="form-label claslabel">Direccion:</label>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="direccion" name="direccion" [(ngModel)]="empleadoDialog.direccion" #direccion="ngModel" placeholder="Ingresar direccion" required>
                </div>
            </div>

            <div class="row espaciado">
                <div class="col-md-3">
                    <label for="telefono" class="form-label claslabel">Telefono:</label>
                </div>
                <div class="col-md-9">
                    <input type="number" class="form-control" id="telefono" name="telefono" [(ngModel)]="empleadoDialog.telefono" #telefono="ngModel" placeholder="Ingresar telefono" required>
                </div>
            </div>

            <div class="row espaciado">
                <div class="col-md-3">
                    <label for="usuario" class="form-label claslabel">Usuario:</label>
                </div>
                <div class="col-md-9">
                    <input type="email" class="form-control" id="usuario" name="usuario" [(ngModel)]="empleadoDialog.usuario" #usuario="ngModel" placeholder="Ingresar correo" required>
                </div>
            </div>


            <div class="row espaciado">
                <div class="col-md-3">
                    <label for="contrasena" class="form-label claslabel">Contraseña:</label>
                </div>
                <div class="col-md-9">
                    <input type="password" class="form-control" id="contrasena" name="contrasena" [(ngModel)]="empleadoDialog.contrasena" #contrasena="ngModel" placeholder="Ingresar correo" required>
                </div>
            </div>


            <div class="row espaciado">
                <div class="col-md-3">
                    <label for="empresaId" class="form-label claslabel">Empresa Id:</label>
                </div>
                <div class="col-md-9">
                    <input type="number" class="form-control" id="empresaId" name="empresaId" [(ngModel)]="empleadoDialog.empresaId" #empresaId="ngModel" placeholder="Ingresar correo" required>
                </div>
            </div>

        </div>
        <p-footer>
            <button (click)="saveEditEmpleado()" class="btn btn-primary" type="button">
                    <i class="fas fa-save espacio"></i>Guardar datos
                </button>
        </p-footer>
    </p-dialog>
</div>